@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

#homePageBg {
  background: url(/inventory-big.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

#gradient-text {
  background: linear-gradient(
    to right,
    blue,
    rgb(75, 0, 130),
    rgb(168, 85, 247)
  );
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text */
}

footer#pageFooter {
  background: url("/wave.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

/*Clears the arrow from a 'number' input type*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#one-line-ellipsis {
  display: -webkit-box;

  /* Limit the text to 1 lines */
  -webkit-line-clamp: 1;

  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
